@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color: white;
}

@layer base {
  .custom-container {
    @apply px-4 md:px-8 lg:px-24 xl:px-44
  }
}

.primary-button {
  background: linear-gradient(to right, #3D8BFF, #3D8BFF, #AB23FF);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
}

.primary-button:hover {
  background-position: 0 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
